/* Sidenav */
header, main, footer {
  padding-left: 300px;
}
.container {
  text-align: center
}
.active {
  padding-left: 0;
}
.sidenav-trigger {
  position: absolute;
  z-index: 102;
  margin-left: 1%;
  margin-top: 1% !important
}
.sidenav {
  background-color: #3b3b3b;
  color: white;
}
.fa-bars {
  background-color: #3b3b3b;
  color: #fff;
  padding: 8px;
}
.fa-linkedin, .fa-github, .fa-stack-overflow, .fa-instagram {
  padding-left: 10px;
  padding-right: 10px;
}
.sidenav-item-home, .fa-home {
  color: #4db6ac !important;
}
.sidenav-item-about, .fa-info-circle {
  color: #42a5f5 !important;
}
.sidenav-item-projects, .fa-code {
  color: #bcaaa4 !important;
}
.sidenav-item-skills, .fa-chalkboard-teacher {
  color: #f7d978 !important;
}
.sidenav-item-contact, .fa-comments {
  color: #e198f7 !important
}
.top-bar {
  position: absolute;
  margin-top: 2%;
  margin-left: 1%
}
/* These apply to about/projects/skills pages */
.parallax-head {
  color: #fff9e3;
  z-index: 2;
  font-size: 110px;
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}
.parallax-container {
  height: 250px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.section, .white{
  background-color: #cecece !important
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
  .fa-bars {
    background-color: #3b3b3b;
  }
  .sidenav-trigger {
    margin-top: -7% !important;
    margin-left: 2%;
  }
  .parallax-head {
    font-size: 90px;
  }
}
     