li {
  display: inline-block
}
.parallax-container {
  height: 500px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.fa-envelope{
  padding-left: 10px;
  padding-right: 10px;
  color: #c71610;
}
.fa-linkedin {
  color: #0077B5
}
.fa-stack-overflow {
  color: #f48024
}
.fa-instagram {
  color: #78379c
}
.fa-twitter {
  padding-left: 10px;
  padding-right: 10px;
}
.section, .white {
  background-color: #fff !important
}
.contact-sidenav-item {
  color: white !important;
}