body {
  background-image: url('../images/creek.jpg');
  background-size: cover;
  background-repeat: no-repeat
}
.tagline-1 {
  margin-top: 15%;
}
.tagline-1, .tagline-2 {
  text-align: center;
  color: white;
}
@media only screen and (max-width : 992px) {
  body {
    background-image: url('../images/test.jpg');
    background-size: cover;
  }
  .tagline-row {
    margin-top: 20% !important;
  }
}