body {
  background: url(../images/denver-skyline.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat
}
.tagline-1 {
  margin-top: 20%;
}
.tagline-1, .tagline-2 {
  text-align: center;
  color: white;
}
@media only screen and (max-width : 992px) {
  .tagline-row {
    margin-top: 10% !important;
  }
}